---
// Simple test page
---

<html>
<head>
  <title>Test Page</title>
</head>
<body>
  <h1>Astro Test Page</h1>
  <p>If you can see this, Astro is working!</p>
  <p>Current time: {new Date().toISOString()}</p>
</body>
</html>